/* Universal selector to reset all elements */
* {
  margin: 0px;
  padding: 0px;
}

/* Title */
#title h1 {
  text-align: center;
}

#gameCanvas {
  height: 800px;
  width: 1000px;
  
  border: 2px dashed yellow;
  
  background-image: url(../scans/gbackground.png);
}
#title {
  height: 50px;
  width: 1000px;
  
  background-image: url(../scans/gtitle.png);
}
#compLevels {
  height: 750px;
  width: 150px;
  
  float: left;
  
  background-image: url(../scans/gclevel.png);
}
#canvas {
  height: 750px;
  width: 700px;
  
  float: left;
  
  background-image: url(../scans/gcanvas.png);
}
#playLevels {
  height: 750px;
  width: 150px;
  
  float: left;
  
  background-image: url(../scans/gplevel.png);
}

/* Computer Column */



/* Player Column */



/* ########################################################################################################################################################### */
/* Game Builder - Remove before go-live */
#gameHelper {
  position: absolute;
  left: 1100px;
  top: 0px;
  
  height: 650px;
  width: 529px;
  
  border: 2px solid red;
}
#gameParameters {
  position: absolute;
  left: 125px;
  top: 2px;
  
  height: 644px;
  width: 400px;
  
  border: 1px dashed red;
}
/* ########################################################################################################################################################### */